# Ignore the pycache files: 
*.pyc
*.pyo
.pytest_cache
__pycache__/
.vscode

# Ignore all __pycache__ folders in the entire project
**/__pycache__/

# Ignore all .h5 files
.h5

# Ignore the folder with all the saved model weights: 
src/Diffusion/Clean_lightning/*
src/Diffusion/Notebooks
src/Diffusion/RGD1_dataset_weights/

# Ignore the scripts for reactants only:
src_coords_graphs/old_reactant_only_code
src_coords_graphs/weights_and_samples/


weights_and_samples/
data/Dataset_W93/stereo_mols
data/Dataset_W93/ONE_stereo_centres
data/Dataset_RGD1/data/Clean_Geometries/

# Ignore Build stuff: 
build
DiffSach.egg-info
dist

# Ignore Pytorch Lightning / WandB stuff: 
lightning_logs
wandb


# Ignore .tar files
*.tar.gz

# Ignore .H5 files
*.h5

# Ignore all Notebooks: 
*.ipynb

# Ignore reaction files in wb97xd3 folder
data/Dataset_W93/data/TS/wb97xd3/*

# Ignore the Clean Geometries:
data/Dataset_W93/data/Clean_Geometries/*

# Ignore the older implementations: 
Diffusion_Project/Older_Implementations/

# Ignore the sampling images: 
same_number_of_stereo_centres


# Temporary Pylightning checkpoints: 
Diffusion_5_layer_2000_timesteps
ONE_stereo_centres


W93_dataset_weights
